---
// Fonts - Using Google Fonts CDN for reliability
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
  schema?: any;
}

const {
  title,
  description = "Divulgazione informatica dal mondo reale.",
  schema,
} = Astro.props;
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta
      name="google-site-verification"
      content="-lZ71Lf_xRCkYSR2J-ZQJctNzc5CeWYZIE92DmWQy5o"
    />
    <meta name="msvalidate.01" content="2999A4D488ECFA4AAEE6543748BD318C" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={`${title} | Rocco Andrea Ligorio`} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/social-banner.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta
      property="twitter:title"
      content={`${title} | Rocco Andrea Ligorio`}
    />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/social-banner.jpg" />

    <!-- Canonical -->
    <link rel="canonical" href={Astro.url} />

    <title>{title} | Rocco Andrea Ligorio</title>
    {
      schema && (
        <script type="application/ld+json" set:html={JSON.stringify(schema)} />
      )
    }
    <slot name="head" />
  </head>
  <body
    class="bg-paper text-ink selection:bg-accent/20 selection:text-ink relative overflow-x-hidden min-h-screen"
  >
    <slot />

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
